/*
 * Copyright 2017 Alt-Solutions, LLC
 * All rights reserved.
 */
// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
	
.button-custom {
	font-size: 32px !important;
	border: solid 1px #808080 !important;
}

.menu-logo {
  margin-left: auto;
  margin-right: auto;
}
.menu-button {
  color: map-get($colors, dark);
  background-color: map-get($colors, light) !important;
}

@font-face {
  font-family: Gotham-Black;
  src: url("../assets/fonts/Gotham Black.ttf");
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title, ion-card, ion-note {
  font-family: 'Gotham-Black' !important;
}

.scroll-content { background-color: map-get($colors, secondary) !important; }

ion-header ion-icon.back-button-icon.icon {
	background-color: map-get($colors, primary) !important;
	width: 50px !important;
	height: 50px !important;
	font-size: 50px !important;
}

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { color: map-get($colors, dark); }
