/*
 * Copyright 2017 Alt-Solutions, LLC
 * All rights reserved.
 */
 
.description {

  ion-card {

    margin-top: 200px;
    overflow: visible;
	
	p {
		font-size: 1.2em !important;
	}
	
	ion-note {
		font-size: 1.0em !important;
	}
	
    ion-card-content {

      background-color: map-get($colors, primary);
      color: map-get($colors, light);
      text-align: center;
	  margin-top: 100px;
      padding-bottom: 28px;

      img {
        height: 240px;
        width: 240px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 4px #FFFFFF;
        display: inline;
      }

      h1 {
      color: map-get($colors, light);
      }

	  h2 {
      color: map-get($colors, light);
      }
	  
      h3 {
      color: map-get($colors, light);
      }
    }
	
	div {
	  border: solid 4px #808080;
	  p {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
	  }
	}
  }
  
	.home-button {
	  background-color: transparent;
	  border: none;
	  width: 150px;
	  height: 150px;
	}  
  
}
